<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="navbar-logo">
      <img src="assets/logo.png" alt="Logo" style="height: 50px; margin-right: 50px;" />
    </a>
    <div class="navbar-title">Dashboard</div>
  </div>
  <div class="navbar-user-menu">
    <div class="user-info" *ngIf="userName">
      <span class="user-name">{{ userName }}</span>
      <span class="user-email" *ngIf="userEmail">{{ userEmail }}</span>
      <a routerLink="/dash-adm/profile-admin" class="profile-link">Mon profil</a>
    </div>
    <button class="logout-btn" (click)="logout()">
      <span class="logout-icon">🚪</span>
      <span class="logout-text">Logout</span>
    </button>
  </div>
</nav> 