<aside class="sidebar">
  <nav>
    <ul>
      <li><a routerLink="/dash-adm/dashboard" routerLinkActive="active" [class.active]="isActive('dashboard')">Dashboard</a></li>
      <li><a routerLink="/dash-adm/users" routerLinkActive="active" [class.active]="isActive('users')">Users</a></li>
      <li><a routerLink="/dash-adm/products" routerLinkActive="active" [class.active]="isActive('products')">Products</a></li>
      <li><a routerLink="/dash-adm/categories" routerLinkActive="active" [class.active]="isActive('categories')">Catégories</a></li>
      <li><a routerLink="/dash-adm/subcategories" routerLinkActive="active" [class.active]="isActive('subcategories')">Sous-catégories</a></li>
      <li><a routerLink="/dash-adm/suppliers" routerLinkActive="active" [class.active]="isActive('suppliers')">Suppliers</a></li>
      <li><a routerLink="/dash-adm/settings" routerLinkActive="active" [class.active]="isActive('settings')">Settings</a></li>
      <li class="logout"><a routerLink="/login">Logout</a></li>
    </ul>
  </nav>
</aside> 