<mat-card class="product-card" (click)="cardClick.emit()">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ categoryName }}<span *ngIf="subCategoryName"> / {{ subCategoryName }}</span></mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="product.image" mat-card-image class="card-product-image" [src]="product.image" alt="{{ product.name }} image">
  <mat-card-content>
    <p class="product-description">{{ product.description }}</p>
  </mat-card-content>
  <div class="product-bottom-row">
    <span class="product-price">{{ product.price | currency }}</span>
    <span class="product-sales" [class.out-of-sales]="product.sales === 0">
      {{ product.stock === 0 ? '0 Sales' : ('Sales: ' + product.sales) }}
    </span>
  </div>
</mat-card>
