<div class="subcategories-list-container">
  <button (click)="goToAdd()">Ajouter Sous-catégorie</button>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Catégorie</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sub of subcategories">
        <td>{{ sub.title }}</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>
          <button (click)="goToEdit(sub._id)">Edit</button>
          <button (click)="deleteSubCategory(sub._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="isLoading">Chargement...</div>
  <div *ngIf="error" class="error">{{ error }}</div>
</div>